body {
    font-family: Arial;
    padding-top: 100px;
    background-color: #E6D1D0;
    background-image: url("{{ MEDIA_URL }}img/id1.png");
    font-size: 16px;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
    text-align: center;    
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

/* ----------------------    ESTO ES DE LA BARRA DE NAVEGACION    ------------------------------- */

.navbar{
    background-color:#DBB0B7 ;
    background-image: -webkit-linear-gradient(#DBB0B7 ,#DBB0B7  60%,#DBB0B7 );    
}
.navbar-default {
    background-color: #DBB0B7 ;
    border-color: #DBB0B7 ;
    padding: 5px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #D495A0;
}
.navbar-right {   
    margin-right: 0;
}
.navbar-brand {    
    padding: 0px 15px;   
}

button, input, optgroup, select, textarea {   
    margin: 10px 0px 0px 5px ;
}
/*
colores de la pagina
logo = #D495A0
otro = #D2909C
otro = #DBB0B7
otro = #E6D1D0 
*/